<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h2{
            text-align: center;
        }
        .time{
            width: 550px;
            height: 550px;
            border-style: double;
            border-width: 5px;
            margin: auto;
            text-align: center;
        }
        .line{
            text-align: center;
            font-size: 100px;
            font-weight: 100px;
        }
    </style>
</head>
<body>
    <div class="time">
        <h2>The Current Time And Date:</h2>
        <br>
        <br>
        <br>
        <div class="line">{{time}}</div>
</body>
</html>